[submodule "Prototype/src/libsedml"]
	path = Prototype/src/libsedml
	url = https://github.com/bmoreau/libSEDML.git
[submodule "Prototype/python/cobrapy"]
	path = Prototype/python/cobrapy
	url = https://github.com/bmoreau/cobrapy.git
